@model NerdDinner.Models.DinnerFormViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <p>
        <strong>When: </strong>
        @Html.Encode(@Model.EventDate)
    </p>
    <p>
        <strong>Where: </strong>
        @Html.Encode(@Model.Address)
    </p>
    <p>
        <strong>Organizer: </strong>
        @Html.Encode(@Model.ContactEmail)
        (@Html.Encode(@Model.ContactPhone))
    </p>
</div>

@Html.Partial("Map")
@if (Request.IsAuthenticated)
{
    @Html.Partial("EditAndDeleteLinks")
    @Html.Partial("RSVPStatus")
}
else
{
    <p>
        @Html.ActionLink("Log in", "Login", "Account") to RSVP for events.
    </p>
}