@model NerdDinner.Helpers.PaginatedList<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" , src="/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" , src="/Scripts/Map.js"></script>

<div id="dinners" class="container">
<div id="dinnerSearch" class="col" align="left">
    <div id="searchBox" style="position: absolute;top:100px">
        Enter your location: @Html.TextBox("Location")
        <input id="search" type="submit" value="Search"/>
    </div>
    <div id="theMap" class="left" style="position:absolute;width:800px; height: 600px;top:350px">
    </div>
</div>

</div>
    
    
<div id="dinnerList" class="col" align="right">
    <h2>Upcoming Dinners</h2>

    @foreach (var item in Model) {
        <li>
            <a href="@Url.Action("Details", new {id = item.DinnerId})">
                <span>@Html.DisplayFor(modelItem => item.Title)</span>
            </a>
            <text> on </text>
            @String.Format("{0:d}", item.EventDate.ToShortDateString())
            <text> at </text>
            @String.Format("{0:d}", item.EventDate.ToShortTimeString())
        </li>
    }
    
</div>


<div id="nav" class="container">

    <p>
        @Html.ActionLink("Create a Dinner", "Create")
    </p>

    @{
        if (Model.HasPreviousPage())
        {
            @Html.RouteLink("<<<", "UpcomingDinners", new {page = (Model.PageIndex - 1)});
        }
        if (Model.HasNextPage())
        {
            @Html.RouteLink(">>>","UpcomingDinners", new { page = (Model.PageIndex + 1)});
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        AddMapChildScriptToDocument();
    });

    $("#search").click(function (event) {
        var where = jQuery.trim($("#Location").val());
        if (where.length < 1)
            return;
        AddPushpinsForEventsNearAddress(where);
    });

    function LoadMapToPage() {
        GetMap();
    }
</script>