@model IEnumerable<NerdDinner.Models.RSVP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dinner.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendeeEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dinner.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendeeEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RsvpId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RsvpId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RsvpId })
        </td>
    </tr>
}

</table>
